<dl>
  {{ #routes }}
  <dt>
    <code>{{ method }}</code>
    <a href="{{ path }}">{{ path }}</a>
  </dt>
  <dd>{{ description }}</dd>
  {{ /routes }}
</dl>

<a href="color.html">Interactive Color Picker</a>
