<html>
<head>
  <title>Interactive Color Picker</title>
</head>
<body>
  <div class="color-picker"></div>

  <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js"></script>
  <script>
    
  </script>
</body>
</html>
