<html>

<head>
    <title>Outlet Control</title>
    <style>
        body {
            background: black;
            color: white;
            font-size: 24px;
        }

        .buttons {
            display: flex;
        }

        button {
            background: #666;
            border: 2px solid black;
            cursor: pointer;
            flex: 1 1 auto;
            font-size: 48px;
            font-weight: bold;
            margin: 20px;
            outline: none;
            padding: 40px;
        }

        button.on {
            background-color: #11a;
            color: #ddd;
        }

        ol {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        li {
            padding-bottom: 4px;
        }
    </style>
</head>

<body>
<div class="buttons">
    <button type="button" class="left">Pump</button>
    <button type="button" class="right">Light</button>
</div>
<button type="button" class="runLeftFor30">Run for 30 Minutes</button>
<button type="button" class="runRightFor5">Off in 5 Minutes</button>
<div class="schedule">
    <header>Schedule</header>
    <ol class="jobList"></ol>
</div>
<script>
    const apiHost = 'http://' + location.host;

    const outletStates = {
        left: false,
        right: false
    };

    function get(path) {
        return fetch(apiHost + path, {
            headers: {
                'Accept': 'application/json'
            }
        })
                .then(res => res.json())
    }

    function setupButtons() {
        const leftButton = document.querySelector('.left');
        leftButton.addEventListener('click', makeToggleFunction('left'));

        const rightButton = document.querySelector('.right');
        rightButton.addEventListener('click', makeToggleFunction('right'));

        const runLeftFor30Button = document.querySelector('.runLeftFor30');
        runLeftFor30Button.addEventListener('click', scheduledRunLeftFor30Task)

        const runRightFor5Button = document.querySelector('.runRightFor5');
        runRightFor5Button.addEventListener('click', scheduleRunRightFor5)

        get('/outlets')
                .then(outlets => {
                    if (outlets['left']) {
                        outletStates.left = true;
                        leftButton.classList.add('on');
                    }
                    if (outlets['right']) {
                        outletStates.right = true;
                        rightButton.classList.add('on');
                    }
                })
    }

    function refreshSchedule() {
        get('/schedule')
                .then(list => {
                    const jobList = document.querySelector('.jobList');

                    //clear old list
                    while (jobList.firstChild) {
                        jobList.removeChild(jobList.firstChild);
                    }

                    list.forEach(job => {
                        const li = document.createElement('li');
                        li.innerText = `${formatDate(job.time)}: ${job.action.path}`;
                        jobList.appendChild(li);
                    })
                })
    }

    function scheduledRunLeftFor30Task(e) {
        return fetch(apiHost + '/schedule?minutes=30&action=leftOutletOff', {
            method: 'put',
            headers: {
                'Accept': 'application/json'
            }
        })
                .then(res => res.json())
                .then(refreshSchedule)
    }

    function scheduleRunRightFor5(e) {
        return fetch(apiHost + '/schedule?minutes=5&action=rightOutletOff', {
            method: 'put',
            headers: {
                'Accept': 'application/json'
            }
        })
                .then(res => res.json())
                .then(refreshSchedule)
    }

    function makeToggleFunction(id) {
        return e => {
            const newState = outletStates[id] ? 'Off' : 'On';
            const path = `/${id}Outlet${newState}`;
            return fetch(apiHost + path, {
                method: 'put'
            })
                    .then(res => res.json())
                    .then(success => {
                        if (success) {
                            outletStates[id] = !outletStates[id];
                            e.target.classList.toggle('on');
                        } else {
                            console.error(`Error setting ${path}`);
                        }
                    })
        }
    }

    function formatDate(timestamp) {
        const date = new Date(timestamp);
        const ampm = date.getHours() >= 12 ? 'pm' : 'am'
        const hours = date.getHours() > 12 ? date.getHours() - 12 : date.getHours();
        return `${hours}:${date.getMinutes()}${ampm}`
    }

    setupButtons();
    refreshSchedule();
</script>
</body>

</html>
